{% extends 'app/Base.html' %}
{% block titel %}
<title>商品下架</title>

{% endblock %}

{% block container %}
<body>

	<div class="content inner">
		<section class="panel__div clearfix">
			<div class="filter-value">
				<div class="filter-title">企业账号</div>
			</div>
			<div class="html-code">
				<p>
					<b>平台指定企业账号：</b><br>
					<table border="0">
						<tr>
							<td><p>fzxinghuiwlkj@163.com</p></td>
							<td><p style="text-indent: 3em">用户名：福州星辉网络科技有限公司</p></td>
						</tr>
						<tr>
							<td><p>fzxinghui@163.com</p></td>
							<td><p style="text-indent: 3em">用户名：福州星辉网络科技有限公司</p></td>
						</tr>
						<tr>
							<td><p>fzxhwangluo@126.com</p></td>
							<td><p style="text-indent: 3em">用户名：福州星辉网络科技有限公司</p></td>
						</tr>
					</table>
				</p>
				<p><br></p>
				<p>如有遇到到别的账号，请致电 0591-26163340 核实或前往首页验证。<br>否则，公司概不负责。</p>
			</div>
		</section>
	</div>

{% endblock %}