{% extends 'app1/Base.html' %}
{% block title %}
<title>博客实战</title>
{% endblock %}


{% block left%}
							<article class="post post-1">
									<header class="entry-header">
											<h1 class="entry-title">{{article.title}}</h1>
											<div class="entry-meta">
													<span class="post-category"><a href="#">{{article.category.title}}</a></span>
													<span class="post-date"><a href="#"><time class="entry-date" datetime="2012-11-09T23:15:57+00:00">{{article.create_time}}</time></a></span>
													<span class="post-author"><a href="#">{{ article.author.username }}</a></span>
													<span class="comments-link"><a href="#">{{article.commment_set.count}}</a></span>
													<span class="views-count"><a href="#">{{article.views}}</a></span>
											</div>
									</header>
									<div class="entry-content clearfix">
											{{article.body|safe}}
									</div>
							</article>
							<section class="comment-area" id="comment-area">
									<hr>
									<h3>发表评论</h3>

								<!--使用ajax评论-->
									<form class="comment-form">
										<!--安全认证-->
										{% csrf_token %}
											<div class="row">
													<div class="col-md-4">
															<label for="id_name">名字：</label>
															<!--<input type="text" id="id_name" name="name" required>-->
														{{ cf.name }}

													</div>
													<div class="col-md-4">
															<label for="id_email">邮箱：</label>
															<!--<input type="email" id="id_email" name="email" required>-->
														{{ cf.email }}
													</div>
													<div class="col-md-4">
															<label for="id_url">网址：</label>
															<!--<input type="text" id="id_url" name="url">-->
														{{ cf.url }}
													</div>
													<div class="col-md-12">
															<label for="id_content">评论：</label>
															<!--<textarea name="comment" id="id_comment" required></textarea>-->
														{{ cf.content }}
															<button id="btn-commit" class="comment-btn">发表</button>
													</div>
											</div>    <!-- row -->
									</form>
									<div class="comment-list-panel">
											<h3>评论列表，共 <span>{{article.comment_set.count}}</span> 条评论</h3>


										<ul class="comment-list list-unstyled" id="commentlist2">
												{% for a in article.comment_set.all %}
													<li class="comment-item">
														<span class="nickname">{{a.name}}</span>
														<time class="submit-date" datetime="2012-11-09T23:15:57+00:00">{{a.create_time}}</time>

														<div class="text">
																{{ a.content }}
														</div>
													</li>
												{% endfor %}


											</ul>
									</div>
							</section>

<script>


	$(function () {
		$("#btn-commit").click(function () {
			$.ajax({
				url:"{% url 'comment:comment' article.id  %}",
				type:"post",

				data:{
					"name":$("#id_name").val(),
					"email":$("#id_email").val(),
					"url":$("#id_url").val(),
					"content":$("#id_content").val(),
					"csrfmiddlewaretoken":"{{csrf_token}}",

				},
				success:function (data) {
					// console.log(data)


					$("#commentlist2").append('<li class="comment-item"><span class="nickname">{{name}}</span><time class="submit-date" datetime="2012-11-09T23:15:57+00:00">{{create_time}}</time><div class="text">{{content }}</div></li>')
				}

			})
		})

	})
</script>


{% endblock %}
